<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>GamesViewer</title>
    <script type="text/javascript" src="/template/Slider/js/jquery.js"></script>
    
    <link type="text/css" rel="stylesheet" href="/template/Slider/css/bootstrap.css" media="all" />
    <link type="text/css" rel="stylesheet" href="/template/Slider/css/styles.css" media="all" />
    <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>
<body>
    <div id="impress" class="abc-span4 impress-not-supported">
			
			<div id="DarkSouls3" class="step" data-x="0" data-y="0">
		        <a href = "/games/view/0" >
					<img src="/template/Slider/images/DarkSouls3.jpg" width="616" height="353" alt="DarkSouls3" />
				</a> 
		    </div>
		    
		    <div id="RollerCoasterTycoonWorld" class="step" data-x="1100" data-y="1200" data-scale="1.8" data-rotate="190">
				<a href = "/games/view/1" >
					<img src="/template/Slider/images/RollerCoasterTycoonWorld.jpg" width="616" height="353" alt="RollerCoasterTycoonWorld" />
				</a> 
		    </div>
		    
		    <div id="Stikbold" class="step" data-x="-300" data-y="600" data-scale="0.2" data-rotate="270">
		        <a href = "/games/view/2" >
					<img src="/template/Slider/images/Stikbold.jpg" width="616" height="353" alt="Stikbold" />
				</a> 
		    </div>
		    
		    <div id="MushroomWars" class="step" data-x="-200" data-y="1500" data-rotate="180">
		        <a href = "/games/view/3" >
					<img src="/template/Slider/images/MushroomWars.jpg" width="616" height="353" alt="MushroomWars" />
				</a> 
		    </div>
		    
		    <div id="StarsOne" class="step" data-x="-1200" data-y="1000" data-scale="0.8" data-rotate="270">
		        <a href = "/games/view/4" >
					<img src="/template/Slider/images/StarsOne.jpg" width="616" height="353" alt="StarsOne" />
				</a> 
		    </div>
		    
		</div>

		<a id="arrowLeft" class="arrow">&lt;</a>
		<a id="arrowRight" class="arrow">&gt;</a>
        <script src="/template/Slider/js/impress.js"></script>
        <script src="/template/Slider/js/script.js"></script>
</body>
</html>
