article{
  width:1028px;
  margin:0 auto;
}
.image
{
  float:left;
  clear:left;
  border-radius: 10px;
  padding: 0px;
  margin: 10px;
}

.name, .description
{
  float: right;
  width:358px;
  padding: 5px;
  margin: 10px;
}
.description
{
  text-align: justify;
}
 hr
{
  clear: both;
  width:80%
}