.image
{
	float:left;
	clear:left;
	border-radius: 10px;
	padding: 0px;
	margin: 10px;
}

.information
{
	float: left;
	width:40%;
	padding: 0px;
	margin: 0px;
}
.name
{
	float: left;
	padding: 5px;
	margin: 10px;
}
.description
{
	float: left;
	clear: left;
	text-align: justify;
	padding: 5px;
	margin: 10px;
}
.price
{
	float:left;
	width: auto;
	padding: 5px;
	margin: 10px;
}
 hr
 {
	clear:left;
	width:80%
 }