<!DOCTYPE html>
<?php require("../controller/AllGamesController.php"); 
$controller = new AllGamesController();?>

<html>
<head>
  <title>games</title>
  <link rel="stylesheet" type="text/css" href="index.css"/>
  <meta charset="utf-8"/>
</head>
<body>
  <article>
<?php $quantityOfGames = $controller->getQuantityOfGames();
      for($i = 0; $i < $quantityOfGames; $i++)
	  { ?>
        <img class = "image" src = "<?php $controller->getImageUrlById($i);?>" alt = <?php $controller->getNameById($i);?>/>
	    <h1 class = "name"><?php $controller->getNameById($i);?></h1>
        <p class = "description"> <?php $controller->getDescriptionById($i);?> <br/><br/> <?php $controller->getPriceById($i);?></p>
		<hr/>
<?php } ?>
  </article>
</body>
</html>